<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>SoRRy for any inconvenience !</h1>
    <p>Page not Found</p>

<%- include('includes/end.ejs') %>